<section data-ng-controller="HomeController">
  <!-- Hero -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="text_h center header letters type">
        <b class="question">Do you know?</b>
        <b class="fact">The average Nigerian eats only about 50% of Protein needed by the body.</b>
      </div>
      <p class="yellow-text question">Don't agree?</p>
      <a href="#" class="btn btn-large waves-effect yellow darken-2 dark-grey-text">Let's calculate yours for you.</p></a>
    </div>
  </div>

  <!-- Parallax -->
  <div class="parallax-container">
    <div class="parallax"><img src="modules/core/img/food-pie.png"></div>
  </div>

  <!-- Intro and service -->
  <div id="intro" class="section scrollspy">
    <div class="container">
      <div class="row">

        <div class="input-field col s12 m4">
          <select>
            <option value="" disabled selected>Breakfast</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Daily Meals</label>

          <select>
            <option value="" disabled selected>Lunch</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>

          <select>
            <option value="" disabled selected>Dinner</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>

        <div load>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Team -->
  <div class="section scrollspy" id="team">
    <div class="container">
      <h2 class="header center text_b"> The Team </h2>
      <div class="row">

        <div class="col s12 m4">
          <div class="card card-avatar">
            <div class="waves-effect waves-block waves-light">
              <img class="activator" src="modules/core/img/avatar1.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Flash</span>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card card-avatar">
            <div class="waves-effect waves-block waves-light">
              <img class="activator" src="modules/core/img/avatar2.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Cat Woman</span>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card card-avatar">
            <div class="waves-effect waves-block waves-light">
              <img class="activator" src="modules/core/img/avatar4.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Robin</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
