<section data-ng-controller="HomeController">
  <div id="headerwrap" id="home" name="home" class="section">
    <header class="clearfix">
      <div class="container">
        <div class="text_h center header letters type">
          <b class="question">Do you know?</b>
          <b class="fact">The average Nigerian eats only about 50% of Protein needed by the body.</b>
        </div>
        <p class="yellow-text question">Don't agree?</p>
        <a href="#" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Let's calculate yours for you.</a>
      </div>
    </header>
  </div>

  <div class="section container" slider>
    <div id="meal-slider" class="owl-carousel">
      <div class="item white centered">
        <h2 class="fact center text-center">What did you eat for breakfast?</h2>
        <div class="container-fluid">
          <div class="row food-lists">
            <div ng-repeat="item in meals.breakfast" class="col-lg-3 col-md-3 food-item">
              <div class="img-wrapper">
                <div class="overlay"></div>
                <i class="fa fa-check img-select"></i>
                <img class="img img-circle" ng-src="modules/core/img/meals/{[{item.image}]}" alt="{[{item.image}]}" height="200px" width="200px">
              </div>
              <h4>{[{item.name}]}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="item white centered">
        <h2 class="fact center text-center">What did you eat for lunch?</h2>
        <div class="container-fluid">
          <div class="row food-lists">
            <div ng-repeat="item in meals.breakfast" class="col-lg-3 col-md-3 food-item">
              <div class="img-wrapper">
                <div class="overlay"></div>
                <i class="fa fa-check img-select"></i>
                <img class="img img-circle" ng-src="modules/core/img/meals/{[{item.image}]}" alt="{[{item.image}]}" height="200px" width="200px">
              </div>
              <h4>{[{item.name}]}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="item white centered">
        <h2 class="fact center text-center">What did you eat for dinner?</h2>
        <div class="container-fluid">
          <div class="row food-lists">
            <div ng-repeat="item in meals.breakfast" class="col-lg-3 col-md-3 food-item">
              <div class="img-wrapper">
                <div class="overlay"></div>
                <i class="fa fa-check img-select"></i>
                <img class="img img-circle" ng-src="modules/core/img/meals/{[{item.image}]}" alt="{[{item.image}]}" height="200px" width="200px">
              </div>
              <h4>{[{item.name}]}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="portfolio" name="portfolio">
    <br>
    <div class="row">
      <br>
      <h1 class="centered">WE CREATE COOL STUFF</h1>
      <hr>
      <br>
      <br>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-md-4 ">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" src="/modules/core/img/portfolio/folio01.jpg" alt="">
              <figcaption>
                <h5>DASHBOARD</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="col-md-4">
          <div class="grid mask">
            <figure>
              <img class="img-responsive" src="/modules/core/img/portfolio/folio06.jpg" alt="">
              <figcaption>
                <h5>PHONE MOCKUP</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>

  <div id="footerwrap">
    <div class="container">
      <h4>Created by <a href="http://blacktie.co">BlackTie.co</a> - Copyright 2014</h4>
    </div>
  </div>
</section>
