a,
a:hover,
.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.default_color {
  background-color: #2196F3 !important
}

.default_color_text {
  color: #2196F3 !important
}

.icon-block {
  padding: 0 15px;
}

.question {
  font-family: 'Oswald', serif;
  font-size: 4em;
  display: block;
  font-weight: 700;
  opacity: 0.86;
}

.fact {
  font-size: 3.6em;
  line-height: 1.2;
  font-weight: 100;
}

.yellow-text.question {
  font-size: 2.6em;
}

.med-btn-text {
  font-size: 1.2em;
}

.yellow-text {
  color: #fbc02d!important;
}

.yellow.darken-2 {
  background-color: #fbc02d!important;
}

.dark-grey-text {
  color: #121212;
}

.text_h * {
  margin: 25px 0px;
}

.btn-huge {
  padding-top: 20px;
  padding-bottom: 20px;
}

.food-item {
  min-height: 270px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.img-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.img-wrapper,
.img-wrapper * {
  transition: all 5s ease;
}

.overlay {
  position: absolute;
  transition: all 5s ease;
  width: 100%;
  display: none;
  height: 100%;
  border-radius: 50%;
  background-color: #272D4E;
  opacity: 0.5;
}

.img-select {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #FFFF24;
  font-size: 60px;
  display: none;
  position: absolute;
  top: 32%;
  left: 36%;
}

.img-wrapper:hover .overlay {
  display: block;
}

.img-wrapper:hover .img-select {
  display: block;
}

.owl-theme .owl-controls .owl-buttons div {
  color: inherit;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
  filter: Alpha(Opacity=100);
  opacity: 1;
}

i.btn.btn-primary.btn-large {
  font-size: 1.4em;
  font-style: normal;
  font-weight: bold;
  padding: 8px 30px;
}

.owl-pagination {
  display: none;
}
